In [256]:
import pandas as pd
import numpy as np
import re 
import json
import datetime as dt

In [257]:
data = pd.read_json('data.json')
df = data.copy()
df.dtypes

Intitulé du poste      object
Date de publication    object
lieu                   object
competences            object
Type de poste          object
dtype: object

In [258]:
df.shape

(230, 5)

In [259]:
col1 = [' '.join(item).replace('\n', '').lower() for item in df['Intitulé du poste']]
df['Intitulé du poste'] = col1

col2 = [item.replace('\n', '') for item in df['Date de publication']]
df['Date de publication'] = col2

col3 = [' '.join(item).replace('\n', '').lower() for item in df['lieu']]
df['lieu'] = col3

col4 = [' '.join(item).replace('\n', '').replace(' ', ', ').lower() for item in df['competences']]
df['competences'] = col4

col5 = [''.join(item).replace('\n', ', ').replace(', ,', '').strip().lower() for item in df['Type de poste']]
df['Type de poste'] = col5

df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,data analyst - publicité,postée il y a 21 jours,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement , cdi ..."
1,data analyst - h/f,postée il y a 1 mois,"paris, la défense","support, outils, agile, design, big, data","edf france, client final , cdi - temps plein,"
2,customer data analyst (h/f),postée il y a 27 jours,paris,"crm, data, quality, sql, sas, python","hermès, client final , cdi - temps plein,"
3,master data analyst h/f,postée il y a 21 jours,moussy-le-vieux,"si, support, sap","tereos, client final , cdi - temps plein,"
4,portfolio data analyst h/f,postée il y a 3 jours,france,"outils, support, decisionnel, sql, test","safran-group, client final , cdi - temps plein,"
...,...,...,...,...,...
225,sap fiori developer (h/f),postée il y a 27 jours,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final , cdi - temps plein,"
226,engie digital - architecte données (h/f),postée il y a 3 jours,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final , cdi - temps plein,"
227,quality assurance - lead qa - lead acceptance h/f,postée il y a 2 heures,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final , cdi - temps..."
228,data scientist,postée il y a 16 jours,"neuilly sur seine 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn , cdi - temps plein,"
229,datascientist (h/f),postée il y a 3 jours,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final , cdi - temps plein,"

In [260]:
y = [' '.join(element.split()) for element in df['Date de publication']]

In [261]:
date0 = dt.date(2023, 1, 15)
dates = []
for item in y:
    date = 0
    delai = item.split()
    if delai[-1] == "jours":
        delta = dt.timedelta(days=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'mois':
        delta = dt.timedelta(weeks=4*int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'heures':
        delta = dt.timedelta(hours=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'hier':
        date = dt.date(2013, 1, 14)
        dates.append(date)
df['Date de publication'] = dates
df['Date de publication']

0      2022-12-25
1      2022-12-18
2      2022-12-19
3      2022-12-25
4      2023-01-12
          ...
225    2022-12-19
226    2023-01-12
227    2023-01-15
228    2022-12-30
229    2023-01-12
Name: Date de publication, Length: 230, dtype: object

In [262]:
postes = df['Intitulé du poste'].replace(to_replace='-', value='', regex=True).replace(to_replace='[(h/f)]', value='', regex=True)
postes

0                           data analyst  publicité
1                                    data analyst
2                            customer data analyst
3                              master data analyst
4                            portolio data analyst
                           ...
225                             sap iori developer
226               engie digital  arcitecte données
227    quality assurance  lead qa  lead acceptance
228                                  data scientist
229                                  datascientist
Name: Intitulé du poste, Length: 230, dtype: object

In [263]:
# Split single column into several columns use ',' delimiter
df[['lieu', 'salary']] = df["lieu"].str.split(",", expand = True, n=1)# Salaire
# salaire_moyen

# df[['min_salary', 'max_salary']] = df["salary"].str.split("-", expand = True, n=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salary,comp0,comp1,comp2,comp3,comp4,comp5
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement , cdi ...",None,sql,t-sql,outils,None,None,None
1,data analyst - h/f,2022-12-18,paris,"support, outils, agile, design, big, data","edf france, client final , cdi - temps plein,",la défense,support,outils,agile,design,big,data
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final , cdi - temps plein,",None,crm,data,quality,sql,sas,python
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final , cdi - temps plein,",None,si,support,sap,None,None,None
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final , cdi - temps plein,",None,outils,support,decisionnel,sql,test,None
...,...,...,...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final , cdi - temps plein,",None,sap,abap,progiciel,système,support,None
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final , cdi - temps plein,",None,digital,outils,securité,sécurité,t-sql,None
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final , cdi - temps...",None,test,serveur,jquery,mobile,tdd,None
228,data scientist,2022-12-30,neuilly sur seine 38.000,"nosql, unix, java, machine, learning, linux","beezen, esn , cdi - temps plein,","00 € - 50.000,00 € / an",nosql,unix,java,machine,learning,linux
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final , cdi - temps plein,",None,big,data,support,python,réseaux,securité

In [264]:
df.to_csv('clean_data.csv')